/* 
    Section
*/
section .content-left-description {
    font-size: 15px !important;
}

section .enlarged-img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

section .line {
    border: 1;
    height: 2px;
    background-color: #dc3545;
}

section .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

    section .cards-wrapper .card {
        flex: 1 1 calc(25% - 20px);
        max-width: calc(25% - 20px);
        height: 400px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border: 1px solid #ddd;
        border-radius: 10px;
        position: relative;
        transition: transform 0.3s ease;
        overflow: hidden;
    }

        section .cards-wrapper .card:hover {
            transform: scale(1.01);
        }


    section .cards-wrapper .image-wrapper img {
        width: 100%;
        height: 150px;
        border-radius: 10px 10px 0 0;
        object-fit: cover;
    }

    section .cards-wrapper .card .card-body {
        padding: 15px;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    section .cards-wrapper .card .card-title {
        font-size: 1.2rem;
        color: #333;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    section .cards-wrapper .card .card-text {
        color: #555;
        font-size: 1rem;
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    section .cards-wrapper .card .btn {
        border: 1px solid red;
        background-color: transparent;
        color: red;
        padding: 8px 16px;
        text-transform: uppercase;
        align-self: start;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

        section .cards-wrapper .card .btn:hover {
            background-color: red;
            color: #fff;
        }

@media (max-width: 1200px) {
    section .cards-wrapper .card {
        flex: 1 1 calc(33.333% - 20px);
        max-width: calc(33.333% - 20px);
    }
}

@media (max-width: 768px) {
    section .cards-wrapper .card {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 576px) {
    section .cards-wrapper .card {
        flex: 1 1 100%;
        max-width: 100%;
    }
}


@media (max-width: 576px) {
    section .content-left-description {
        font-size: 12px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    section .content-left-description {
        font-size: 13px;
    }
}

@media (min-width: 768px) {
    section .content-left-description {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    section .enlarged-img {
        max-width: 100%;
    }
}
